.popup__heading {
  margin: 10px 0 0 0;
  padding: 0;
  max-width: 291px;
  min-height: 12px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
